<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Styles CSS-->
    <link rel="stylesheet" href="./styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app" class="main-container">
      <!--LOGIN-->
      <div v-if="activeLogin" class="wrapper">
        <div class="title">LOGIN FORM</div>
        <form @submit.prevent="save">
          <div class="field">
            <input v-model="user" type="text" required id="position" />
            <label for="position">POSITION</label>
          </div>
          <div class="field">
            <input
              v-model="password"
              type="password"
              id="password"
              maxlength="4"
              required
            />
            <label for="password">PASSWORD</label>
          </div>
          <br /><br />
          <div class="field">
            <button @click="checkFields">Login</button>
          </div>
        </form>
      </div>
      <!--ADMIN-->
      <div v-if="activeAdmin" class="wrapper big-wrapper">
        <div class="title">ADMINISTRATOR</div>
        <!--FORM-->
        <form @submit.prevent="save">
          <div class="container">
            <div class="field">
              <select required refs="position" v-model="positionSelect">
                <option
                  v-for="item in usersData"
                  v-bind:value="item.name"
                  :disabled="item.name === 'admin'"
                >
                  {{ item.name !== 'admin' ? item.name : 'Select an option' }}
                </option>
              </select>
              <label for="position">POSITION</label>
            </div>
            <div class="field">
              <input
                type="number"
                id="salary"
                placeholder="Salary"
                required
                v-model="salary"
                :disabled="isChange? false: true"
              />

              <label for="salary">Salary</label>
            </div>
            <div class="field">
              <input
                type="number"
                refs="maxQuantyShoes"
                placeholder="Max shoes production"
                required
                :disabled="positionSelect ==='assembler' && isChange? false: true"
                v-model="maxQuantyShoes"
              />
              <label for="maxQuantyShoes">Max shoes production</label>
            </div>
            <div class="field">
              <input
                type="number"
                refs="priceShoes"
                placeholder="Price shoes"
                required
                :disabled="positionSelect ==='assembler' && isChange? false: true"
                v-model="priceShoes"
              />
              <label for="priceShoes">Price shoes</label>
            </div>
            <div class="field">
              <input
                type="number"
                refs="commision"
                placeholder="Commision"
                required
                :disabled="positionSelect ==='seller' && isChange? false: true"
                v-model="commision"
              />
              <label for="commision">Commision % > 5millions</label>
            </div>
            <div class="field">
              <input
                type="number"
                refs="commision"
                placeholder="Commision"
                required
                :disabled="positionSelect ==='seller' && isChange? false: true"
                v-model="commision"
              />
              <label for="commision">Commision % > 10millions</label>
            </div>
          </div>
        </form>
        <div class="container m-2">
          <br />
          <div class="field">
            <button
              v-on:click="change"
              :disabled="!positionSelect ?true: false"
            >
              {{ btnChange }}
            </button>
          </div>
          <div class="field">
            <button
              v-on:click="save('admin')"
              :disabled="!positionSelect ?true: false"
            >
              Save
            </button>
          </div>
          <div class="field">
            <button v-on:click="generatePayroll('all')">
              Generate Payrolls
            </button>
          </div>
          <div class="field">
            <button v-on:click="logout('admin')">Logout</button>
          </div>
        </div>
      </div>
      <!--SECRETARY-->
      <div v-if="activeSecretary" class="wrapper">
        <div class="title">SECRETARY</div>
        <form @submit.prevent="save">
          <div class="field">
            <input
              type="number"
              id="overtime"
              placeholder="Overtime in hours"
              required
              v-model="overtime"
            />
            <label for="overtime">Overtime (in hours)</label>
          </div>

          <div class="field">
            <button v-on:click="save('secretary')">Save</button>
          </div>
        </form>
        <div class="field">
          <button v-on:click="logout('secretary')">Logout</button>
        </div>
      </div>
      <!--SELLER-->
      <div v-if="activeSeller" class="wrapper">
        <div class="title">SELLER</div>
        <form @submit.prevent="save">
          <div class="field">
            <input
              type="number"
              id="sales"
              placeholder="Sales"
              required
              v-model="sales"
            />
            <label for="sales">Sales (in pesos)</label>
          </div>

          <div class="field">
            <button v-on:click="save('seller')">Save</button>
          </div>
        </form>
        <div class="field">
          <button v-on:click="logout('seller')">Logout</button>
        </div>
      </div>
      <!--ASSEMBLER-->
      <div v-if="activeAssembler" class="wrapper">
        <div class="title">ASSEMBLER</div>
        <form @submit.prevent="save">
          <div class="field">
            <input
              type="number"
              id="overtime"
              placeholder="Overtime (in hours)"
              required
              v-model="overtime"
            />
            <label for="overtime">Overtime</label>
          </div>

          <div class="field">
            <input
              type="number"
              id="producedShoes"
              placeholder="producedShoes"
              required
              v-model="producedShoes"
            />
            <label for="producedShoes">producedShoes</label>
          </div>

          <div class="field">
            <input
              type="number"
              id="children"
              placeholder="Children"
              required
              v-model="children"
            />
            <label for="children">Children</label>
          </div>

          <div class="field">
            <button v-on:click="save('assembler')">Save</button>
          </div>
        </form>
        <div class="field">
          <button v-on:click="logout('assembler')">Logout</button>
        </div>
      </div>
      <!--PAYROLL-->
      <div v-if="activePayroll" class="wrapper big-wrapper">
        <div class="title">PAYROLL REPORT</div>
        {{ activePayroll }}
        <form @submit.prevent="save">
          {{ generalPayroll }}

          <div class="wrapper">
            <div class="title">SECRETARY REPORT</div>
            <div class="report-container">
              <div class="items-table">
                <div v-for="item in generalPayroll[1]" class="item">
                  {{ item }}
                </div>
              </div>
              <div class="items-table">
                <div v-for="item in generalPayroll[1]" class="item">
                  {{ item }}
                </div>
              </div>
            </div>
          </div>

          <div class="wrapper">
            <p>dsnjfksdnk</p>
          </div>

          <div class="field">
            <button v-on:click="activeAdmin=true;activePayroll=false">
              Go back
            </button>
          </div>
        </form>
      </div>

      <!--LOGIN-->
      <div class="disabled-back" v-if="loader">
        <h2 class="text-loader">{{ messageLoader }}<span>&#160;</span></h2>
      </div>
      <!--MessageError-->
      <div v-if="isError">
        <h2>{{ messageError }}</h2>
      </div>
    </div>
  </body>
  <!--VUE JS-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./main.js"></script>
</html>
