@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.content-input input,
.content-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  place-items: center;
  background-color: #f3f3f3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23F3F3F3' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(39.55) translate(-974.72 -731.04)'%3E%3Cuse fill='%23f1f1f1' href='%23s' y='2'/%3E%3Cuse fill='%23f1f1f1' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23eeeeee' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23eeeeee' href='%23s'/%3E%3Cuse fill='%23ececec' href='%23s' x='2'/%3E%3Cuse fill='%23ececec' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(39.55) translate(-974.72 -731.04)'%3E%3Cg fill='%23e9e9e9'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(39.55) translate(-974.72 -731.04)'%3E%3Cg fill='%23e9e9e9'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(39.55) translate(-974.72 -731.04)'%3E%3Cg fill='%23e7e7e7'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(39.55) translate(-974.72 -731.04)'%3E%3Cg fill='%23F3F3F3'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e4e4e4'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(39.55) translate(-974.72 -731.04)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(39.55) translate(-974.72 -731.04)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(39.55) translate(-974.72 -731.04)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
d-flex {
  display: flex;
}
d-none {
  display: none;
}

.w-full {
  width: 100;
}

.m-2 {
  margin: 2rem;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.wrapper,
.big-wrapper {
  width: 500px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.big-wrapper {
  width: 95%;
}
.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: #ff6600;
}
.wrapper form {
  padding: 10px 30px 50px 30px;
}
.field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

input,
select,
button {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid #000;
  border-radius: 8px;
  transition: all 0.3s ease;
}
input:focus,
input:valid,
select:focus,
select:valid {
  border-color: #ff6600;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(./assets/select-Icon.svg); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right center;
  background-position-x: 95%;
}

select option:checked {
  background-color: #ff6600;
  color: #fff;
}

input:disabled {
  color: #999999;
  opacity: 0.6;
  border-color: #999999;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #414040;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label,
form .field select:focus ~ label,
form .field select:valid ~ label,
form .field input:disabled ~ label {
  top: 0%;
  font-size: 16px;
  color: #ff6600;
  background: #fff;
  transform: translateY(-50%);
}

.has-value:disabled {
  top: 0%;
  font-size: 16px;
  color: #ff6600;
  background: #fff;
  transform: translateY(-50%);
}

button {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #ff6600;
  transition: all 0.3s ease;
}
button:disabled {
  opacity: 0.6;
}
button:enabled:active {
  transform: scale(0.95);
}

/* LOADER*/
.loader {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.804);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  min-height: 100vh;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.text-loader {
  position: relative;
  float: left;
  background-color: rgba(255, 255, 255, 0.804);
  color: #000;
  font-size: 2.5em;
}

.text-loader span {
  position: absolute;
  right: 0;
  width: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.804);
  border-left: 1px solid #000;
  /* animation: escribir 5s steps(30) infinite alternate; */
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
/* END LOADER */
@media (min-width: 280px) and (max-width: 320px) {
  .wrapper {
    width: 260px;
  }
  .container {
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
  br {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    width: 300px;
    margin-top: 5rem;
  }
  .container {
    grid-template-columns: 1fr;
    column-gap: 15px;
  }
  br {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wrapper {
    width: 600px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  br {
    display: none;
  }
}