<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Styles CSS-->
    <link rel="stylesheet" href="../styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="admin" class="main-container">
      <div class="wrapper big-wrapper">
        <div class="title">ADMINISTRATOR</div>
        <!--FORM-->
        <form @submit.prevent="save">
          <div class="container">
            <div class="field">
              <select
                type="text"
                required
                id="position"
                v-model="positionSelect"
              >
                <option v-for="position in positions" v-bind:value="position">
                  {{position}}
                </option>
              </select>
              <label for="position">POSITION</label>
            </div>
            <div class="field">
              <input type="number" id="salary" required />
              <label for="salary">Salary</label>
            </div>
            <div class="field">
              <input
                type="number"
                id="quantyShoes"
                required
                :disabled="position ==='assembler'? false: true"
              />
              <label for="quantyShoes">Quanty shoes</label>
            </div>
            <div class="field">
              <input
                type="number"
                id="priceShoes"
                required
                :disabled="position ==='assembler'? false: true"
              />
              <label for="priceShoes">Price shoes</label>
            </div>
            <div class="field">
              <input
                type="number"
                id="commision"
                required
                :disabled="position ==='seller'? false: true"
              />
              <label for="commision">Commision</label>
            </div>
          </div>
        </form>
        <div class="container m-2">
          <br />
          <div class="field">
            <button v-on:click="change">Change</button>
          </div>
          <div class="field">
            <button v-on:click="save">Save</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!--VUE JS-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./main.js"></script>
</html>
